.row {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.left {
  width: 620px; 
  padding-right: 100px; 
  flex-shrink: 0; 
}

.top {
  max-width: 514px;
  margin-bottom: 25px;
  font-family: 'Clash Display';
  font-size: 24px;
  line-height: 140%;
  color: #2A254B;
}

.text {
  font-family: 'Satoshi';
  margin-bottom: 196px;
  font-size: 16px;
  max-width: 536px;
  line-height: 150%;
  color: #2A254B;
}

.button {
  font-family: 'Satoshi';
  font-size: 16px;
  line-height: 150%;
  color: #2A254B;
  background-color: #F9F9F9;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.right {
  width: 50%;
  height: auto; 
  object-fit: cover;
  flex-shrink: 0;
}
