.nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.link {
    color: #726E8D;
    font-family: 'Satoshi';
    font-style: 16px;
}